
body {
    color: black;
}

.container {
    max-width: 1230px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding-top: 30px;
    background-color: #f1f1f1;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 17px;
    list-style-type: none;

}

.nav-silca {
    color: #000;

}

.nav-silca-active {
    color: #606060;
}

.header-row {
    display: flex; justify-content: space-between;
    column-gap: 30px;
}

.services {
    padding: 20px 0;
}

.services-row {
    display: flex;
    column-gap: 150px;
}

.services-card {

}

.services-card-title {;
    margin-top: 15px;
    font-weight: 600;
    font-size: 30px;
    text-align: center
    
}

.services-card p {
    line-height: 2;
    font-size: 20px;
}

.info{
    padding: 90px 0;
    background-color: #f1f1f1
}

.container{


}

.opredelenie{
    margin-bottom: 18px;


}

.kart{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.shrift{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
}

.contacts{
    padding: 10px 0;
    text-align: center;

}

.contacts-title{
    margin-bottom: 10px;
}

.contacts-content{
    margin-bottom: 40 px;
    font-size: 18px;
}

.contacts-button{
    margin-bottom: 80px;
    
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #000;
    border-radius: 30px;

    font-size: 18px;
    color: #f1f1f1;
}